<h1>Voluntariados e profissionais</h1>
<div class="experiencias">
    @for (exp of experiencias; track exp) {
        <div class="experiencia">
            <h1>{{exp.cargo}} <span>- {{exp.data}}</span></h1>

            <span class="empresa"><i class="{{ (exp.voluntario) ? 'far fa-handshake' : 'fi fi-rs-building' }}"></i>{{exp.empresa}}</span>

            <div class="line"></div>
            <p>{{exp.descricao}}</p>

            @if (exp.historico) {
              <ul class="historico">
                <h3>Histórico de projetos</h3>
                @for (cargo of exp.historico; track $index) {
                  <li>{{ cargo.nome }} <span>- {{ cargo.data }}</span></li>
                }
              </ul>
            }
        </div>
    }
</div>

<h1>Cursos</h1>
<div class="cursos">
    @for (curso of cursos; track curso) {
        <div class="curso">
            <h3>{{curso.nome}}</h3>
            <p><i class="fi fi-rr-graduation-cap"></i>{{curso.orgao}}</p>
            <p><i class="fi fi-rr-calendar-clock"></i>{{curso.dataDeConclusao}}</p>
        </div>
    }
</div>
