<section [class]="desktop ? 'desktop' : 'mobile'">
  @for (rota of rotas; track rota) {
    @if (desktop) {
      <p [class.selected]="rotaAtual === `/${rota.path}`" [routerLink]="rota.path" [attr.data-text]="rota.title"> {{ rota.title }} </p>

    } @else {
      <div [class.selected]="rotaAtual === `/${rota.path}`" [routerLink]="rota.path" class="link">
        <i [class]="`fi fi-rr-${rota.icon}`"></i>
        <p [attr.data-text]="rota.title">{{ rota.title }}</p>
      </div>
    }
  }
</section>
