<h1>Resumo</h1>
<div class="resumo">
  <p>Meu nome é Camila, tenho {{ idade }} anos e sou de Fortaleza – CE. Sou apaixonada por tecnologia e estou construindo minha trajetória na área de desenvolvimento web. Meu interesse por programação começou durante o curso técnico integrado em Informática no IFCE (2021–2023), onde tive contato com diferentes áreas da tecnologia e descobri meu entusiasmo por desenvolver soluções através da programação. Atualmente, curso Ciência da Computação no IFCE, onde continuo aprofundando meus conhecimentos e explorando novas tecnologias, especialmente no desenvolvimento Fullstack Web, com interesse em ferramentas como Angular e Node.js.</p>
  <p>Tenho grande interesse em criar aplicações funcionais, organizadas e com boas experiências para o usuário, unindo a parte técnica do desenvolvimento com o cuidado no design das interfaces. Gosto especialmente da parte criativa da tecnologia — layout, identidade visual, cores, tipografia e como pequenos detalhes podem transformar completamente a experiência de quem utiliza um sistema. Ao mesmo tempo, procuro sempre entender a lógica por trás das soluções, buscando equilibrar design, performance e organização de código. Sou uma pessoa curiosa, dedicada e sempre envolvida em algum projeto ou aprendizado novo, com o objetivo de evoluir constantemente e construir soluções que realmente façam sentido para as pessoas.</p>
</div>

<h3>Formação Acadêmica</h3>
<div class="formacoes">
    @for (formacao of formacoes; track formacao) {
        <div class="formacao">
            <img draggable="false" src="{{formacao.src}}">
            <div class="descricao">
                <p>{{formacao.nome}}</p>

                <span>({{ (formacao.status) ? (formacao.status) : `${formacao.dataInical} a ${formacao.dataFinal}` }})</span>
            </div>
        </div>
    }
</div>

<h3>Hobbies & Curiosidades</h3>
<app-icones [lista]="hobbies"></app-icones>
